//button
@mixin button {
  cursor: pointer;
  text-decoration: none;
  user-select: none;
  background-color: transparent;
  border: none;
  outline: none;
}

// media query mixins
@mixin mediaSm {
  @media screen and (max-width: 576px) {
    @content;
  }
}

@mixin mediaMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mediaLg {
  @media screen and (max-width: 992px) {
    @content;
  }
}

@mixin mediaXl {
  @media screen and (max-width: 1440px) {
    @content;
  }
}
